<p><strong>Квалификация выпускника: </strong>Техник-технолог.</p>
<p><strong>Форма обучения:</strong> Очная.</p>
<p><strong>Срок обучения: </strong>4 г. 10 мес.</p>
<p><strong>Область профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Разработка и внедрение технологических процессов производства продукции машиностроения.</li>
    <li>Организация работы структурного подразделения.</li>
</ul>
<p><strong>Объекты профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Материалы, технологические процессы, средства технологического оснащения (технологическое оборудование,
        инструменты, технологическая оснастка).</li>
    <li>Конструкторская и технологическая документация.</li>
    <li>Первичные трудовые коллективы.</li>
</ul>
<p><strong>Выпускник готовится к следующим видам профессиональной деятельности:</strong></p>
<ul>
    <li>Разработка технологических процессов изготовления деталей машин.</li>
    <li>Участие в организации производственной деятельности структурного подразделения.</li>
    <li>Участие во внедрении технологических процессов изготовления деталей машин и осуществление технического контроля.
    </li>
</ul>
<p><strong>В результате изучения дисциплин обучающийся должен:</strong></p>
<p><strong>Уметь:</strong></p>
<ul>
    <li>Читать чертежи.</li>
    <li>Анализировать конструктивно-технологические свойства детали, исходя из ее служебного назначения.</li>
    <li>Разрабатывать технологический процесс изготовления детали.</li>
    <li>Выбирать технологическое оборудование и технологическую оснастку: приспособления, режущий, мерительный и
        вспомогательный инструмент.</li>
    <li>Использовать пакеты прикладных программ для разработки конструкторской документации и проектирования
        технологических процессов.</li>
    <li>Проверять соответствие оборудования, приспособлений, режущего и измерительного инструмента требованиям
        технологической документации.</li>
    <li>Устранять нарушения, связанные с настройкой оборудования, приспособлений, режущего инструмента.</li>
    <li>Анализировать причины брака, разделять брак на исправимый и неисправимый.</li>
</ul>
<p><strong>Знать:</strong></p>
<ul>
    <li>Методику проектирования технологического процесса изготовления детали.</li>
    <li>Виды режущих инструментов.</li>
    <li>Технологические возможности металлорежущих станков.</li>
    <li>Требования ЕСКД и ЕСТД к оформлению технической документации.</li>
    <li>Основные принципы наладки оборудования, приспособлений, режущего инструмента.</li>
    <li>Основные методы контроля качества детали.</li>
    <li>Виды брака и способы его предупреждения.</li>
    <li>Основные признаки соответствия рабочего места требованиям, определяющим эффективное использование оборудования.
    </li>
</ul>
<p><strong>Итоговая аттестация студентов:</strong></p>
<ul>
    <li>Защита выпускной квалификационной работы (дипломная работа, дипломный проект).</li>
</ul>
<p><strong><a href="https://yadi.sk/i/WEf27uQweSsos"> ФЕДЕРАЛЬНЫЙ ГОСУДАРСТВЕННЫЙ ОБРАЗОВАТЕЛЬНЫЙ СТАНДАРТ СРЕДНЕГО
            ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ по специальности 15.02.15 Технология металлообрабатывающего производства
            (ТОП-50) </a></strong><br />
    <strong><a
            href="http://polytech-rzn.ru/metal/wp-content/uploads/2021/03/15.02.15.-Технология-металлообработывающего-производства-гр-72825946.pdf">Учебный
            план по специальности 15.02.15. Технология металлообработывающего производства для групп
            72,82,59,46</a></strong>
</p>