<p><strong>Квалификация выпускника:</strong> техник – электромеханик (базовая подготовка).<br />
    <strong>Форма обучения:</strong> Очная.
</p>
<p><strong>Срок обучения:</strong> 3 года 10 месяцев (базовая подготовка).</p>
<p><strong>Область профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Эксплуатация, техническое обслуживание и ремонт транспортного электрооборудования и автоматики.</li>
    <li>Организация работы первичных трудовых коллективов.</li>
    <li>Разработка технологических процессов и конструкторской документации для производства, технического обслуживания
        и ремонта изделий транспортного электрооборудования и автоматики.</li>
    <li>Выбор технологического оборудования и технологической оснастки для производственных целей.</li>
    <li>Диагностирование деталей, изделий и систем транспортного электрооборудования и автоматики.</li>
</ul>
<p><strong>Объекты профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Детали, узлы и изделия транспортного электрооборудования и автоматики.</li>
    <li>Техническая документация, технологическое и диагностическое оборудование.</li>
    <li>Первичные трудовые коллективы.</li>
</ul>
<p><strong>В результате изучения дисциплин обучающийся должен:</strong></p>
<p><strong>Иметь практический опыт:</strong></p>
<ul>
    <li>Выполнения технического обслуживания и ремонта деталей, узлов, изделий и систем транспортного
        электрооборудования и автоматики.</li>
    <li>Оформления конструкторской и технологической документации.</li>
    <li>Определения технического состояния систем, изделий, узлов и деталей транспортного электрооборудования и
        элементов автоматики.</li>
</ul>
<p><strong>Уметь:</strong></p>
<ul>
    <li>Организовывать техническое обслуживание и ремонт изделий транспортного электрооборудования.</li>
    <li>Выбирать методы диагностирования систем, изделий, узлов и деталей транспортного электрооборудования и элементов
        автоматики.</li>
    <li>Использовать программное обеспечение в профессиональной деятельности.</li>
    <li>Применять компьютерные технологии при диагностировании транспортного электрооборудования и элементов автоматики.
    </li>
</ul>
<p><strong>Знать:</strong></p>
<ul>
    <li>Физические принципы работы, устройство, конструкцию, технические характеристики, области применения, правила
        эксплуатации транспортного электрооборудования и автоматики.</li>
    <li>Действующую нормативно-техническую документацию по эксплуатации, техническому обслуживанию и ремонту
        транспортного электрооборудования.</li>
    <li>Устройство и работу электронных систем транспортного электрооборудования, их классификацию, назначение и
        основные характеристики.</li>
    <li>Механизмы ценообразования на продукцию (услуги), формы оплаты труда в современных условиях.</li>
    <li>Условия эксплуатации и технические требования, предъявляемые к изделиям транспортного электрооборудования и
        автоматики.</li>
    <li>Современные методы диагностирования изделий транспортного электрооборудования (отечественного и зарубежного
        производства).</li>
    <li>Назначение и основные параметры диагностического оборудования.</li>
</ul>
<p><strong>Итоговая аттестация студентов:</strong></p>
<ul>
    <li>Защита выпускной квалификационной работы (дипломная работа, дипломный проект).</li>
</ul>
<p><strong><a href="https://yadi.sk/i/jwU_q2P7eSsvJ"> ФЕДЕРАЛЬНЫЙ ГОСУДАРСТВЕННЫЙ ОБРАЗОВАТЕЛЬНЫЙ СТАНДАРТ СРЕДНЕГО
            ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ по специальности 23.02.05 Эксплуатация транспортного электрооборудования и
            автоматики </a></strong><br />
    <strong><a
            href="http://polytech-rzn.ru/metal/wp-content/uploads/2021/03/23.02.05.-Эксплуатация-транспортного-электрооборудования-и-автоматики-по-видам-транспорта-за-исключением-водного-гр-746148.pdf">Учебный
            план по специальности 23.02.05. Эксплуатация транспортного электрооборудования и автоматики (по видам
            транспорта, за исключением водного) для групп 74,61,48</a></strong>
</p>