<p><strong>Квалификация выпускника:</strong> техник – технолог (базовый уровень подготовки).</p>
<p><strong>Форма обучения:</strong> Очная.</p>
<p><strong>Срок обучения:</strong> 3 года 10 месяцев (базовый уровень)</p>
<p><strong>Область профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Разработка и ведение технологических процессов по производству продукции деревообработки.</li>
    <li>Организация работы структурного подразделения.</li>
</ul>
<p><strong>Область профессиональной деятельности выпускников:</strong></p>
<p><strong>Объектами профессиональной деятельности выпускников являются:</strong></p>
<ul>
    <li>Материалы.</li>
    <li>Технологические процессы.</li>
    <li>Средства технологического оснащения (технологическое оборудование, инструменты, технологическая оснастка).</li>
    <li>Конструкторская и технологическая документация.</li>
    <li>Первичные трудовые коллективы.</li>
</ul>
<p><strong>Виды деятельности:</strong></p>
<ul>
    <li>Разработки и ведение технологических процессов деревообрабатывающих производств.</li>
    <li>Участие в организации производственной деятельности в рамках структурного подразделения.</li>
    <li>Деревообрабатывающих производств.</li>
    <li>Выполнять профессии по профессии «Столяр»</li>
</ul>
<p><strong>В результате изучения дисциплин обучающийся должен:</strong></p>
<p><strong>Уметь:</strong></p>
<ul>
    <li>Конструировать мебельные изделия.</li>
    <li>Проектировать технологические процессы с использованием баз данных.</li>
    <li>Выполнять обработку древесины на различных видах оборудования.</li>
    <li>Выполнять необходимые расчеты по определению оптимальных технологических режимов работы оборудования.</li>
    <li>Пользоваться отраслевыми компьютерными программами.</li>
    <li>Организовывать ведение технологического процесса.</li>
    <li>Анализировать состояние техники безопасности на производственном участке лесопильного и деревообрабатывающего
        производства.</li>
    <li>Проводить контроль качества продукции.</li>
    <li>Руководить работой подразделения анализировать процесс и результат деятельности структурного подразделения.</li>
</ul>
<p><strong>Знать.</strong></p>
<ul>
    <li>Типовые технологические процессы и режимы лесопильного и деревообрабатывающего производства.</li>
    <li>Технические требования, предъявляемые к сырью, материалам, готовой продукции.</li>
    <li>Действующую нормативно &#8212; техническую документацию.</li>
    <li>Принципы работы и правила эксплуатации технологического оборудования.</li>
    <li>Основы управленческой деятельности деревообрабатывающих предприятий.</li>
    <li>Правила и нормы охраны труда, техники безопасности, промышленной санитарии и противопожарной защиты.</li>
    <li>Методику проектирования технологического процесса.</li>
    <li>Свойства сырья и материалов.</li>
</ul>
<p><strong>Итоговая аттестация студентов:</strong></p>
<ul>
    <li>Защита дипломного проекта.</li>
</ul>
<p><strong><a href="https://yadi.sk/i/rn7xdQUQeStEu"> ФЕДЕРАЛЬНЫЙ ГОСУДАРСТВЕННЫЙ ОБРАЗОВАТЕЛЬНЫЙ СТАНДАРТ СРЕДНЕГО
            ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ по специальности 35.02.03 Технология деревообработки </a></strong><br />
    <strong><a
            href="http://polytech-rzn.ru/metal/wp-content/uploads/2021/03/35.02.03.-Технология-деревообработки-гр-73604732.pdf">Учебный
            план по специальности 35.02.03. Технология деревообработки для групп 73,60,47,32</a></strong>
</p>