<p><strong>Квалификация выпускника:</strong> Бухгалтер, специалист по налогообложению (углубленная подготовка).<br />
    <strong>Форма обучения:</strong> Очная.
</p>
<p><strong>Срок обучения:</strong> 3 года 10 месяцев (углубленная подготовка).</p>
<p><strong>Область профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Учет имущества и обязательств организации, проведение и оформление хозяйственных операций, обработка
        бухгалтерской информации, проведение расчетов с бюджетом и внебюджетными фондами, формирование бухгалтерской
        отчетности, налоговый учет, налоговое планирование.</li>
</ul>
<p><strong>Объекты профессиональной деятельности выпускника:</strong></p>
<ul>
    <li>Бухгалтер, специалист по налогообложению готовится к следующим видам деятельности.</li>
    <li>Документирование хозяйственных операций и ведение бухгалтерского учета имущества организации.</li>
    <li>Ведение бухгалтерского учета источников формирования имущества, выполнение работ по инвентаризации имущества и
        финансовых обязательств организации.</li>
    <li>Проведение расчетов с бюджетом и внебюджетными фондами.</li>
    <li>Составление и использование бухгалтерской отчетности.</li>
    <li>Осуществление налогового учета и налогового планирования в организации.</li>
    <li>Выполнение работ по одной или нескольким профессиям рабочих, должностям служащих (приложение к ФГОС).</li>
</ul>
<p><strong>В результате изучения дисциплин обучающийся должен:</strong></p>
<p><strong>Иметь практический опыт:</strong></p>
<ul>
    <li>Организации документационного обеспечения управления и функционирования организации.</li>
    <li>Организации архивной и справочно-информационной работы по документам организации.</li>
</ul>
<p><strong>Уметь:</strong></p>
<ul>
    <li>Документально оформлять и отражать на счетах бухгалтерского учета операции, связанные с движением основных
        средств, товарно-материальных ценностей, денежных средств, расчетов и т.д.</li>
    <li>Составлять бухгалтерскую и статистическую отчетность.</li>
    <li>Анализировать хозяйственно-финансовую деятельность организации.</li>
    <li>Оценивать ликвидность и платежеспособность организации.</li>
    <li>Пользоваться нормативными документами и инструкциями Министерства финансов РФ, Министерства по налогам и сборам
        РФ и других государственных органов, регулирующими порядок бухгалтерского учета, отчетности и налогообложения.
    </li>
    <li>Использовать вычислительную технику для обработки учетно-финансовой информации.</li>
</ul>
<p><strong>Знать:</strong></p>
<ul>
    <li>Рыночные методы хозяйствования, экономику, организацию труда и управления.</li>
    <li>Законодательные акты, постановления, распоряжения, приказы, руководящие методические и нормативные материалы по
        организации бухгалтерского учета имущества, обязательств и хозяйственных операций и составлению отчетности.</li>
    <li>формы и методы бухгалтерского учета в организации.</li>
    <li>План и корреспонденцию счетов.</li>
    <li>организацию документооборота по участкам бухгалтерского учета.</li>
    <li>налоговое законодательство РФ, формы и методы анализа финансово-хозяйственной деятельности и
        контрольно-ревизионной работы.</li>
    <li>Компьютерное обеспечение бухгалтерской деятельности.</li>
</ul>
<p><strong>Итоговая аттестация студентов:</strong></p>
<ul>
    <li>Защита выпускной квалификационной работы (дипломная работа, дипломный проект).</li>
</ul>
<p><strong><a href="https://yadi.sk/i/w6DE33wgeSsPP"> ФЕДЕРАЛЬНЫЙ ГОСУДАРСТВЕННЫЙ ОБРАЗОВАТЕЛЬНЫЙ СТАНДАРТ СРЕДНЕГО
            ПРОФЕССИОНАЛЬНОГО ОБРАЗОВАНИЯ по специальности 38.02.01 Экономика и бухгалтерский учет </a></strong><br />
    <strong><a
            href="http://polytech-rzn.ru/metal/wp-content/uploads/2021/03/38.02.01.-Экономика-и-бухгалтеркий-учет-по-отраслям-гр-7684-624934.pdf">Учебный
            план по специальности 38.02.01. Экономика и бухгалтерский учет (по отраслям) для групп
            76,84,62,49,34</a></strong>
</p>