<p class="s5"><span class="s4"><span class="bumpedFont15">Образовательная программа разработана на основе Федерального
            образовательного стандарта</span></span><span class="s4"><span class="bumpedFont15">по специальности
        </span></span><span class="s4"><span class="bumpedFont15">43.02.12 </span></span><span class="s4"><span
            class="bumpedFont15">«</span></span><span class="s4"><span class="bumpedFont15">Технология эстетических
            услуг</span></span><span class="s4"><span class="bumpedFont15">»</span></span><span class="s4"><span
            class="bumpedFont15">, утвержденного приказом Министерства образования и науки от 9 декабря 2016 года №
            15</span></span><span class="s4"><span class="bumpedFont15">60</span></span><span class="s4"><span
            class="bumpedFont15"> (зарегистрирован Министерством юстиции Российской Федерации 26 декабря
            2016</span></span> <span class="s4"><span class="bumpedFont15">г., регистрационный №449</span></span><span
        class="s4"><span class="bumpedFont15">75</span></span><span class="s4"><span
            class="bumpedFont15">)</span></span><span class="s4"><span class="bumpedFont15">, и на основе примерной
            основной образовательной программы</span></span><span class="s4"><span class="bumpedFont15">, разработанной
            ФУМО </span></span><span class="s4"><span class="bumpedFont15">43</span></span><span class="s4"><span
            class="bumpedFont15">.00.00 и внесенной в Федеральный реестр</span></span> <span class="s4"><span
            class="bumpedFont15">примерных основных образовательных программ СПО</span></span><span class="s4"><span
            class="bumpedFont15">.</span></span></p>
<p class="s6"><span class="s2"><span class="bumpedFont15"><strong>Квалификация выпускника</strong>:</span></span> <span
        class="s4"><span class="bumpedFont15">С</span></span><span class="s4"><span class="bumpedFont15">пециалист в
            области прикладной эстетики</span></span><span class="s4"><span class="bumpedFont15">.</span></span><span
        class="s4"><span class="bumpedFont15"><br />
        </span></span><span class="s2"><span class="bumpedFont15"><strong>Форма обучения</strong>:</span></span><span
        class="s4"><span class="bumpedFont15"> Очная.</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15"><strong>Срок обучения</strong>:</span></span><span
        class="s4"><span class="bumpedFont15"> 3 года 10 месяцев (на базе основного общего образования) и 2 года 10
            месяцев (на базе среднего общего образования).</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">Основные виды профессиональной деятельности:</span></span></p>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Санитарно-гигиеническая подготовка
            зоны обслуживания для предоставления эстетических услуг</span></span><span class="s4"><span
            class="bumpedFont15">.</span></span></div>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Выполнение комплекса косметических
            услуг по уходу за кожей лица, шеи и зоны декольте</span></span><span class="s4"><span
            class="bumpedFont15">.</span></span></div>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Выполнение комплекса косметических
            услуг по уходу за телом</span></span><span class="s4"><span class="bumpedFont15">.</span></span></div>
<p class="s7"><span class="s2"><span class="bumpedFont15">Дополнительно:</span></span></p>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Освоение профессии
            «</span></span><span class="s4"><span class="bumpedFont15">Косметик</span></span><span class="s4"><span
            class="bumpedFont15">»</span></span><span class="s4"><span class="bumpedFont15"> (оказание услуг по визажу и
            стилистике)</span></span><span class="s4"><span class="bumpedFont15">.</span></span></div>
<p class="s10"><span class="s4"><span class="bumpedFont15">ОПИСАНИЕ ДЕЯТЕЛЬНОСТИ</span></span></p>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Деятельность косметика направлена
            на уход за красотой лица и тела клиентов. В этом ему помогает множество приёмов, которыми он владеет. В
            своей работе данный специалист использует различные косметические средства, приспособления в виде кистей,
            губок, щёток, а также специальную аппаратуру. Он может самостоятельно изготавливать косметические смеси: это
            и крема, и маски, и красители. </span></span><span class="s4"><span
            class="bumpedFont15">Косметик</span></span><span class="s4"><span class="bumpedFont15"> может оказывать
            услуги по чистке лица, нанесению масок, макияжа, коррекции бровей, наращиванию ресниц. Такой работник также
            владеет приёмами массажа лица, шеи, кожи головы. Ему известны самые разные способы массажа лица, шеи, кожи
            головы, эпиляции и других косметических процедур.</span></span></div>
<p class="s5"><span class="s2"><span class="bumpedFont15">В части профессионального цикла образовательная
        </span></span><span class="s2"><span class="bumpedFont15">программа </span></span><a name="_GoBack"></a><span
        class="s2"><span class="bumpedFont15">скорректирована</span></span><span class="s2"><span class="bumpedFont15">
            в соответствии с запросами работодателей и мировым опытом. </span></span></p>
<p class="s3"><span class="s2"><span class="bumpedFont15">Минимальные требования к результатам освоения основных видов
            деятельности образовательной программы</span></span></p>
<p class="s6"><span class="s2"><span class="bumpedFont15">1. </span></span><span class="s2"><span
            class="bumpedFont15">Санитарно-гигиеническая подготовка зоны обслуживания для предоставления эстетических
            услуг</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">знать:</span></span> <span class="s4"><span
            class="bumpedFont15">нормы и санитарно-эпидемиологические требования к размещению, устройству, оборудованию,
            содержанию и режиму зоны обслуживания для предоставления эстетических услуг; виды эстетических услуг;
            психологию общения и профессиональную этику; правила, современные формы и методы обслуживания потребителя;
            устройство, правила эксплуатации и хранения применяемого оборудования, инструментов; состав и свойства
            косметических средств и используемых материалов; нормы расхода косметических средств и используемых
            материалов; основы анатомии, физиологии, строения тела, гистологии кожи и ее придатков; общие признаки
            кожных заболеваний, особенности аллергических реакций кожи; возрастные особенности тела и кожи; виды
            гигиенических чисток, показания и противопоказания; технологию выполнения атравматической,
            вакуумной</span></span><span class="s4"><span class="bumpedFont15">механической, ультразвуковой и
            комбинированной чистки; правила оказания первой помощи</span></span><span class="s4"><span
            class="bumpedFont15">;</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">уметь:</span></span> <span class="s4"><span
            class="bumpedFont15">рационально организовывать рабочее место, соблюдать правила санитарии и гигиены,
            требования безопасности; производить дезинфекцию и стерилизацию инструментов и расходных материалов;
            производить санитарно-гигиеническую, бактерицидную обработку рабочего места; использовать оборудование,
            приспособления, инструменты в соответствии с правилами эксплуатации и видами эстетических услуг; определять
            вид необходимой косметической услуги в соответствии с состоянием тела и кожи, возрастными особенностями и
            пожеланием клиента; объяснять клиенту целесообразность рекомендуемой косметической услуги; соблюдать
            технологию выполнения атравматической, вакуумной, механической, ультразвуковой и комбинированной чистки;
            применять различные косметические средства при выполнении чистки кожи; согласовывать с клиентом
            индивидуальные программы по уходу за кожей и телом с применением косметических средств; производить расчет
            стоимости оказанной услуги; обсуждать с клиен</span></span><span class="s4"><span class="bumpedFont15">том
            качество выполненной услуги;</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">иметь практический опыт в:</span></span> <span
        class="s4"><span class="bumpedFont15">проведении подготовительных и заключительных работ по обслуживанию
            клиентов; оценке состояния тела и кожи, определении и согласовании с клиентом вида эстетических услуг;
            подборе профессиональных средств и препаратов для эстетических услуг, </span></span><span class="s4"><span
            class="bumpedFont15">гигиенической чистки; тестировании кожи; выполнении чистки различными способами;
            согласовании с клиентом комплекса эстетических услуг, индивидуальных программ по уходу за кожей и телом;
            расчете стоимости оказанной услуги; консультировании клиента по уходу за кожей и телом в домашних условиях с
            применением косметических средств; оказании необходимой первой помощи; обсуждении с клиентом качество
            выполненной услуги</span></span><span class="s4"><span class="bumpedFont15">.</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">2. </span></span><span class="s2"><span
            class="bumpedFont15">Выполнение комплекса косметических услуг по уходу за кожей лица, шеи и зоны
            декольте</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">знать:</span></span> <span class="s4"><span
            class="bumpedFont15">санитарно-эпидемиологические требования к размещению, устройству, оборудованию,
            содержанию и режиму работы организаций коммунально-бытового назначения, оказывающих парикмахерские и
            косметические услуги; психологию общения и профессиональную этику; правила, современные формы и методы
            обслуживания потребителя; устройство, правила эксплуатации и хранения применяемого оборудования,
            инструментов; состав и свойства косметических средств и используемых материалов; нормы расхода косметических
            средств и используемых материалов; основы анатомии, физиологии, гистологии кожи и ее придатков; общие
            признаки кожных заболеваний, особенности аллергических реакций кожи; возрастные особенности кожи; виды
            косметических услуг по уходу за кожей лица, шеи и зоны декольте; виды гигиенических чисток лица, шеи и зоны
            декольте, показания и противопоказания; технологии выполнения атравматической, вакуумной, механической,
            ультразвуковой и комбинированной чистки кожи лица и (или) шеи, зоны декольте; технологии косметических
            процедур по уходу за кожей лица, шеи и зоны декольте; технологии косметического массажа лица, шеи и зоны
            декольте; технологии косметических масок для лица, шеи и зоны декольте; технологии моделирования, коррекции
            и окраски бровей и ресниц; правила оказания первой помощи; </span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">уметь:</span></span> <span class="s4"><span
            class="bumpedFont15">уметь: рационально организовывать рабочее место, соблюдать правила санитарии и гигиены,
            требования безопасности; производить дезинфекцию и стерилизацию инструментов и расходных материалов;
            производить санитарно-гигиеническую, бактерицидную обработку рабочего места; использовать оборудование,
            приспособления, инструменты в соответствии с правилами эксплуатации; определять вид необходимой
            косметической услуги в соответствии с состоянием кожи лица, шеи и зоны декольте, возрастными особенностями и
            пожеланием клиента, объяснять клиенту ее целесообразность; выполнять технологии косметических процедур по
            уходу за кожей лица, шеи и зоны декольте; выполнять технологии косметического массажа лица, шеи и зоны
            декольте; выполнять технологии косметических масок для лица, шеи и зоны декольте; выполнять технологии
            моделирования, </span></span><span class="s4"><span class="bumpedFont15">коррекции</span></span><span
        class="s4"><span class="bumpedFont15"> и окраски бровей и ресниц; применять различные косметические
        </span></span><span class="s4"><span class="bumpedFont15">средства при выполнении косметических услуг;
            производить расчет стоимости оказанной услуги; обсуждать с клиентом качество выполненной услуги;
            консультировать клиентов по домашнему профилактическому уходу за кожей лица, шеи и зоны
            декольте;</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">иметь практический опыт в:</span></span> <span
        class="s4"><span class="bumpedFont15">проведении подготовительных и заключительных работ по обслуживанию
            клиентов; подборе профессиональных средств и препаратов для выполнения косметической услуги; выполнении
            технологии косметических процедур по уходу за кожей лица, шеи и зоны декольте; выполнении различных видов
            косметического массажа лица, шеи и зоны декольте; выполнении различных видов косметических масок для лица,
            шеи и зоны декольте; выполнении моделирования, коррекции и окраски бровей и ресниц; оценке выполнения
            косметической услуги, определении и согласовании с клиентом индивидуальной программы комплекса косметических
            услуг лица, шеи, зоны декольте; расчете стоимости оказанной услуги; консультировании клиента по уходу за
            кожей лица, шеи и зоны декольте в домашних условиях; оказании необходимой первой помощи; обсуждении с
            клиентом качество выполненной услуги.</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">3. </span></span><span class="s2"><span
            class="bumpedFont15">Выполнение комплекса косметических услуг по уходу за телом</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">знать:</span></span> <span class="s4"><span
            class="bumpedFont15">нормы и санитарно-эпидемиологические требования к размещению, устройству, оборудованию,
            содержанию и режиму зоны обслуживания для предоставления эстетических услуг; психологию общения и
            профессиональную этику; правила, современные формы и методы обслуживания потребителя; устройство, правила
            эксплуатации и хранения применяемого оборудования, инструментов; состав и свойства косметических средств и
            используемых материалов; нормы расхода косметических средств и используемых материалов; основы анатомии,
            физиологии, гистологии кожи и мышц; общие признаки кожных заболеваний, особенности аллергических реакций
            кожи и возрастные особенности; виды очищающих процедур по телу, показания и противопоказания; технологию
            проведения </span></span><span class="s4"><span class="bumpedFont15">скрабирования</span></span><span
        class="s4"><span class="bumpedFont15">, </span></span><span class="s4"><span
            class="bumpedFont15">пилинга</span></span><span class="s4"><span class="bumpedFont15"> и </span></span><span
        class="s4"><span class="bumpedFont15">гоммажа</span></span><span class="s4"><span class="bumpedFont15">;
            различные виды косметических процедур по уходу за телом с использованием современных технологий; различные
            виды косметического массажа тела либо его отдельных частей; различные виды обертывания тела либо его
            отдельных частей; технологии стимуляции проблемных зон; различные способы эстетической коррекции волосяного
            покрова тела либо его отдельных частей; методы расчета стоимости оказанной услуги; правила оказания первой
            помощи;</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">уметь:</span></span> <span class="s4"><span
            class="bumpedFont15">рационально организовывать рабочее место, соблюдать правила санитарии и гигиены,
            требования безопасности; производить дезинфекцию и стерилизацию инструментов и расходных материалов;
            производить санитарно-гигиеническую, бактерицидную обработку рабочего места; </span></span><span
        class="s4"><span class="bumpedFont15">использовать оборудование, приспособления, инструменты в соответствии с
            правилами эксплуатации; определять вид необходимой косметической услуги в соответствии с состоянием кожи,
            возрастными особенностями и пожеланием клиента; объяснять клиенту целесообразность рекомендуемой
            косметической услуги; соблюдать технологии выполнения </span></span><span class="s4"><span
            class="bumpedFont15">скрабирования</span></span><span class="s4"><span class="bumpedFont15">,
        </span></span><span class="s4"><span class="bumpedFont15">пилинга</span></span><span class="s4"><span
            class="bumpedFont15"> и </span></span><span class="s4"><span class="bumpedFont15">гоммажа</span></span><span
        class="s4"><span class="bumpedFont15"> с применением различных косметических средств; выполнять различные виды
            косметических процедур по уходу за телом с использованием современных технологий; выполнять различные виды
            косметического массажа тела либо его отдельных частей; выполнять различные виды обертывания тела либо его
            отдельных частей; выполнять технологии стимуляции проблемных зон; проводить эстетическую коррекцию
            волосяного покрова тела либо его отдельных частей различными способами; производить расчет стоимости
            оказанной услуги; обсуждать с клиентом качество выполненной услуги; консультировать клиентов по домашнему
            профилактическому уходу за телом;</span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">иметь практический опыт в:</span></span> <span
        class="s4"><span class="bumpedFont15">проведении подготовительных и заключительных работ по обслуживанию
            клиентов; оценке состояния кожи, подкожно-жировой клетчатки и тонуса мышц тела клиента, определении и
            согласовании с клиентом способа косметического очищения кожи тела; тестировании кожи клиента; подборе
            профессиональных средств и препаратов для выполнения косметической услуги; выполнении поверхностного
            очищения кожи с применением косметических средств (</span></span><span class="s4"><span
            class="bumpedFont15">гоммаж</span></span><span class="s4"><span class="bumpedFont15">, </span></span><span
        class="s4"><span class="bumpedFont15">скрабирование</span></span><span class="s4"><span class="bumpedFont15">,
        </span></span><span class="s4"><span class="bumpedFont15">пилинг</span></span><span class="s4"><span
            class="bumpedFont15">); выполнении различных видов косметических процедур по уходу за телом с использованием
            современных технологий; выполнении различных видов косметического массажа тела либо его отдельных частей;
            выполнении различных видов обертывания тела либо его отдельных частей; выполнении технологии стимуляции
            проблемных зон; выполнении эстетической коррекции волосяного покрова тела либо его отдельных частей
            различными способами; расчете стоимости оказанной услуги; обсуждении с клиентом качества выполненной услуги;
            консультировании клиентов по домашнему профилактическому уходу за телом. </span></span></p>
<p class="s7"><span class="s2"><span class="bumpedFont15">Итоговая аттестация студентов:</span></span></p>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Защита выпускной квалификационной
            работы (дипломная работа, дипломный проект).</span></span></div>
<div class="s9"><span class="s8">• </span><span class="s4"><span class="bumpedFont15">Демонстрационный экзамен. По
            усмотрению образовательной организации демонстрационный экзамен включается в выпускную квалификационную
            работу или проводится в виде государственного экзамена</span></span><span class="s4"><span
            class="bumpedFont15">.</span></span></div>