<p><strong>Квалификация выпускника: </strong>Парикмахер- модельер.</p>
<p><strong>Форма обучения:</strong> Очная.</p>
<p><strong>Срок обучения: </strong>З г. 10 мес.</p>
<p><strong>Область профессиональной деятельности выпускника:</strong><br />
    Выполнение технологических процессов и художественного моделирования в сфере парикмахерского искусства.</p>
<p><strong>Объектами профессиональной деятельности выпускников являются:</strong></p>
<ul>
    <li>Запросы потребителя на парикмахерские услуги.</li>
    <li>Внешний облик человека.</li>
    <li>Средства оказания услуг парикмахерских (оборудование, материалы, инструменты).</li>
    <li>Технологии и технологический процесс парикмахерских услуг.</li>
</ul>
<p><strong>Основные виды деятельности:</strong></p>
<ul>
    <li>Организация и выполнение технологических процессов парикмахерских услуг.</li>
    <li>Подбор, разработка и выполнение различных типов, видов и форм причесок с учетом индивидуальных особенностей
        потребителей и тенденций моды.</li>
    <li>Внедрение новых технологий, тенденций моды и продвижение парикмахерских услуг.</li>
    <li>Постановка и решение технологических и художественных задач в сфере парикмахерских услуг.</li>
    <li>Выполнение работ профессии «Парикмахер».</li>
</ul>
<p><strong>В результате изучения дисциплин обучающийся должен:</strong></p>
<p><strong>Иметь практический опыт:</strong></p>
<ul>
    <li>Выполнения комплекса парикмахерских услуг.</li>
    <li>Формирования образа будущей прически потребителя и разработки ее формы с учетом индивидуальных пластических
        особенностей, пожеланий и типажа потребителя.</li>
    <li>Выполнения причесок различного назначения и степени сложности с учетом актуальных тенденций моды.</li>
    <li>Применения новых видов услуг в парикмахерском искусстве.</li>
    <li>Создания художественного образа для конкурсной и подиумной работы.</li>
</ul>
<p><strong>Уметь:</strong></p>
<ul>
    <li>Проводить диагностику волос и кожи головы потребителя, грамотно применять различные системы профессионального
        ухода за волосами.</li>
    <li>Выполнять все технологические процессы: классические и современные виды стрижек, окрасок, завивок.</li>
    <li>Моделировать и выполнять прически, стрижки и окраски различной степени сложности.</li>
    <li>Соблюдать нормы и правила профессиональной этики и психологии.</li>
    <li>Осуществлять контроль качества услуг и консультации потребителя.</li>
    <li>Использовать современные информационные технологии в профессиональной деятельности.</li>
</ul>
<p><strong>Знать: </strong></p>
<ul>
    <li>Состав и свойства материалов, используемых в процессах парикмахерского производства.</li>
    <li>Способы диагностики состояния волос.</li>
    <li>Основы моделирования в парикмахерском искусстве.</li>
    <li>Традиционные и новейшие технологии в парикмахерском искусстве.</li>
    <li>Основы сервисной деятельности.</li>
    <li>Правила бытового обслуживания населения.</li>
</ul>
<p><strong>Итоговая аттестация студентов:</strong></p>
<ul>
    <li>Защита выпускной квалификационной работы (дипломная работа, дипломный проект).</li>
</ul>
<p><strong><a href="https://yadi.sk/i/a93wMXtu3JF4go"> Федеральный государственный образовательный стандарт среднего
            профессионального образования по специальности 43.02.13 Технология парикмахерского искусства
            (ТОП-50)</a></strong><br />
    <strong><a
            href="http://polytech-rzn.ru/metal/wp-content/uploads/2021/03/43.02.13.-Технология-парикмахерского-искусства-гр-6552.pdf">Учебный
            план по специальности 43.02.13. Технология парикмахерского искусства для групп 65,52</a></strong>
</p>