{% extends 'layout.html' %}
{% block body %}
<style>
    div.content {
        margin: 10%;
        margin-top: 3%;
        margin-bottom: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    span.message {
        text-align: center;
        font-size: x-large;
        margin-bottom: 10px;
    }

    button.control {
        font-size: large;
        border: 1px solid black;
        border-radius: 7px;
        background-color: white;
        width: 50%;
        margin: 10px;
        padding: 5px;
        transition: .3s;
    }
    button.control:hover {
        background-color: lightgreen;
    }

    img#mark {
        margin: 50px;
        width: 150px;
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px),
    (min-resolution: 2dppx) {
        img#mark {
            width: 40%;
        }
    }
</style>
<div class="content">
    <img src="{{ url_for('static', filename='mark.png') }}" alt="mark" id='mark'>
    <span class='message'>Вы успешно подали заявление на специальность:</span>
    <span class='message'>{{ prof }}</span>
    <span class='message'>Ваш логин: {{ login }}</span>
    <span class='message'>Ваш пароль: {{ pas }}</span>
    <button onclick="window.location.href='/cabinet';" class='control'>Открыть профиль</button>
    <button onclick="window.location.href='/';" class='control'>На главную</button>
</div>


{% endblock body %}