{% extends 'layout.html' %}
{% block body %}
<style>
    div.prof_body {
        display: flex;
        flex: 1 1;
        flex-direction: column;
        justify-content: center;
    }
    div.prof_main_column{
        display: flex;
        padding-left: 15%;
        padding-right: 15%;
        /* align-items: center; */
        justify-content: center;
    }
    p.prof {
        align-self: center;
    }
</style>
<div class="prof_body">
    <div class="prof_main_column">
    </div>
</div>
{% endblock body %}